<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>학생 정보 수정</title>
</head>
<body>
<form method="POST" th:action="@{'/student/' + ${student.id} + '/modify'}">
    <label th:text="#{login.id}">아이디</label>: <input type="text" name="id" th:value="${student.id}" readonly /><br />
    <label th:text="#{login.pwd}">비밀번호</label>: <input type="password" name="password" th:value="${student.password}" /><br />
    <label th:text="#{name}">이름</label>: <input type="text" name="name" th:value="${student.name}" /><br />
    <label th:text="#{email}">이메일</label>: <input type="email" name="email" th:value="${student.email}" /><br />
    <label th:text="#{score}">성적</label>: <input type="number" name="score" th:value="${student.score}" /><br />
    <label th:text="#{comment}">평가</label>: <textarea name="comment" rows="4" th:value="${student.comment}"></textarea><br />
    <button type="submit" th:text="#{submit}">수정</button>
</form>
<br />
<form method="get" action="">
    <select name="locale" onchange="this.form.submit()">
        <option value="en" th:selected="${#locale.language == 'en'}">English</option>
        <option value="ko" th:selected="${#locale.language == 'ko'}">한국어</option>
    </select>
</form>
</body>
</html>