<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="STDOUT"/>
    </root>

    <appender name="AOP_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>aop.log</file>
        <append>false</append>
        <maxHistory>7</maxHistory>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="spring.boot.core.day3.demo.config" level="info" additivity="false">
        <appender-ref ref="AOP_FILE"/>
    </logger>
</configuration>
